html {
  scroll-behavior: smooth;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

body {
  font-family: "Inter", -apple-system, "Nunito", BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  display: flex;
  flex-direction: row;
}


:root {
  font-weight: 400;
  font-style: normal;
}


main {
  width: 50vw;
  color: white;
  z-index: 99;
  position: absolute;
  /* width: max-content; */
  padding-left: 50px;

  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
blockquote {
  font-weight: 250;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  font-size: 2.3rem;
  padding: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: black;
  margin-top: 50px;

  background: rgba(255, 255, 255, 0.44);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
}

/* section {
  height: 100vh;
} */

/* section:nth-child(1) {
    background: lightblue;
  }
  section:nth-child(2) {
    background: lightgreen;
  }
  section:nth-child(3) {
    background: purple;
  } */

#jumpTo {
  position: fixed;
  top: 15%;
  width: 20%;
  overflow: auto;
  height: 50%;
  right: 50px;
  background-color: teal;

  font-size: 1.7rem;
  padding: 2rem;
  color: black;

  background: rgba(255, 255, 255, 0.44);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
}

#headshot {
  width: 250px;
  height: 250px;
  border-radius: 200px;
  border: 3px solid lightgray;
}

.horizontal-center {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.subtext {
  font-size: 20px;
}

.iphoneimg {
  width: 200px;
  border: 5px solid black;
  border-radius: 15px;
  box-shadow: 0 4px 10px gray;
}

#triphubtrim {
  width: 90%;
  border: 3px solid white;
  border-radius: 15px;
  box-shadow: 0 4px 5px gray;
}

span {
  font-family: 'Courier New', Courier, monospace;
}

.horizontal-top {
  display: flex;
  flex-direction: row;
}

.projectText {
  font-size: 20px;
}

.projectTitle {
  font-size: 25px;
  text-decoration: wavy;
}

.fontthin {
  color: rgb(109, 109, 109);
}

.vertical {
  display: flex;
  flex-direction: column;
}

.skills {
  margin-top: 25px;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: teal;
}

#mobile-checkout-my {
  display: none;
}

#skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-item-container {
  gap: 10px;
}

@media only screen and (max-width: 1080px) {
  body {
    flex-direction: column;
  }

  #skills-container {
    flex-direction: column;
  }

  #skills-item-container-two {
    margin-top: 15px;
  }

  #mobile-checkout-my {
    display: block;
  }

  #jumpTo {
    display: none;
  }

  main {
    width: 100%;
    padding-left: 0px;
  }

  header {
    padding: 20px;
    font-size: 1.6rem;
    margin: 5px;
  }

  #triphubtrim {
    width: 90%;
  }

  .horizontal-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .subtext {
    font-size: 15px;
  }

  .projectText {
    font-size: 15px;
  }

  #improver-media {
    flex-direction: column;
    align-items: center;
  }
}